* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica;
    margin: 0;
    background-color: #d9d9d9;
}

#logo {
    width: 200px;
    height: 100px;
}

.title {
    border-style: double;
    border-color: #1c75bc;
    border-width: 10px;
    text-align: center;
    margin: auto;
    width: 500px;
}

h3 {
    margin-left: 100px;
}


.pseudo {
    background-color: #a8a8a8;
    border: none;
    padding: 10px;
    margin-left: 100px;
}

.email {
    background-color: #a8a8a8;
    border: none;
    padding: 10px;
    margin-left: 100px;
}

.mdp {
    background-color: #a8a8a8;
    border: none;
    padding: 10px;
    margin-left: 100px;
}

.confirm {
    background-color: #a8a8a8;
    border: none;
    padding: 10px;
    margin-left: 100px;
}

.sign {
    padding: 10px 0 10px 0;
	font: bold 13px Arial;
	background: #1c75bc;
	color: #fff;
	border-radius: 5px;
	width: 100px;
	border: none;
}

